.shiny-progress-container{
  top: 55% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -250px !important;
  width:30%;
}
.shiny-input-panel{
  border: 0.5px solid; 
  background-color:white;
  padding:0px;
  margin-top:8px;
  margin-bottom:6px;
  margin-left:0px;
  margin-right:37px;
}
.form-group{
  margin-bottom:0px;
}
.checkbox{
  margin-bottom:0px;
  margin-top:0px;
}
.row{
  margin-right:-15px;
}

.img_banner{
  text-align:right;
  padding-right:0px;
  margin-right:0px;
}
.sliderPanel{
  padding-top:0px;
  padding-bottom:0px;
  padding-left:20px;
  padding-right:1px;
  font-size:0.9em;
  width:225px;
  margin-bottom:0px;
  margin-top:0px;
  opacity:0.92;
}
.checkPanel{
  padding-top:0px;
  padding-bottom:0px;
  background-color:white;
  width:100%;
}
#rightPanel{
  padding-left:30px;
  padding-right:0px;
  border-style:none;
}
.smallPanel{
  min-height:150px;
  max-height: 150px;
}
.largePanel {
  min-height:300px;
  max-height: 300px;
}
.smallPanel, .largePanel{
  overflow-y:scroll;
  width:265px;overflow-x:hidden; 
  border-radius: 3px; 
  padding-left: 8px; 
  padding-right:0px;
  margin-right:0px;
  opacity: 0.92;
  background: white;
}